# General files
#
*~
.DS_Store

# Development stuff
#
platforms/
coverage/
npm-debug.log
*.sublime-workspace
*.pyc
.vagrant
.idea
npm-debug.*
/target/
.classpath
.project
.settings
lerna-debug.log

# Build artifacts
#
lib/
results/
declarations/
esm/
screenshots/
**/build/
!**/scripts/build
.jest/
build-cypress

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
Pods/

tsconfig.tsbuildinfo
